@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyCustomFont";
  src: url("/asset/fonts/온글잎 박다현체.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 본문과 html에 높이, 스크롤 비활성화 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: filter 0.5s ease; /* 추가: 필터 전환 효과 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "MyCustomFont", Arial, Helvetica, sans-serif;
}

/* 추가: 클릭 시 밝아지도록 하는 클래스 */
body.brighten {
  filter: brightness(1.1);
}
